body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 0;
    max-height: 100vh;
}

.container {
    max-width: 400px;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.taskList {
    display: flex;
    justify-content: space-between;
    height: auto;
    background-color:#ccc;
    margin: 3px 0;
    padding: 4px 10px 2px 2px;
}

h1 {
    text-align: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    padding: 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

li:last-child {
    border-bottom: none;
}

.deleteBtn {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

#addTaskBtn{
    margin-left: auto;
    border-radius: 6px;
}

footer{
    background-color: whitesmoke;
    text-align: center;
    margin: auto 0 0;
    padding: 5px;
}
footer a{
    text-decoration: none;
    color: black;
}

.delete{
    border: none;
    color: black;
    background-color: rgba(0, 0, 0, 0.0);
    display: inline;
}